<a href="https://colab.research.google.com/github/pallavisoni03/python-dev/blob/main/setoperations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
set1 = set()
set2 = set()
print(set1, set2)

# adding values in set 1
for i in range(1, 10):
  set1.add(i)


print(set1)

# adding values in set 1
for i in range (3, 10):
  set2.add(i)

print(set2)

# union of 2 sets

set3 = set1 | set2

print(set3)

#intersection of set set 1 and set 2

set4 = set1 & set2


print(set4)

set() set()
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{3, 4, 5, 6, 7, 8, 9}